body {
    background-image: url('/images/bugatti-darken.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    position: relative;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

.wrapper {
    padding-left: 6px;
}

.form-row {
    display: inline-block;
    margin-bottom: 30px;
}

#last-form-input {
    width: 565px;
    margin-bottom: 20px;
}

form textarea {
    width: 575px;
    height: 100px;
    border-radius: 6px;
    margin-top: 8px;
    margin-bottom: 30px;
}

.form-item.space {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
    color: red;
}

#logo-img {
    padding-top: 20px;
    padding-left: 20px;
    height: 50px;
    width: 100px;
}

.nav {
    display: flex;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding-left: 30px;
    padding-top: 35px;
}

.nav ul li {
    margin-right: 10px;
}

.offer-add-div {
    border-radius: 10px;
    padding: 20px;
    height: 540px;
    width: 600px;
    background-color: rgba(36, 35, 32, 0.8);
    margin: 0 auto
}

.offer-add-text {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;

}

.offer-add-div label {
    color: white;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 20px;

}

.offer-add-div .input-offer-add {
    padding: 8px;
    width: 258px;
    border-radius: 5px;
    margin-top: 6px;
}

.offer-add-div .select-offer-add {
    padding: 8px;
    width: 277px;
    border-radius: 5px;
    margin-top: 6px;
}

.offer-add-div .offer-add-btn {
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(226, 63, 63);
    color: white;
    font-size: larger;
}

.offer-add-div .offer-add-btn:hover {
    background-color: red;

}





