body {
    background-image: url('/images/bugatti-darken.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    position: relative;
    font-family: 'Roboto', sans-serif;

}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
    color: red;
}

#logo-img {
    padding-top: 20px;
    padding-left: 20px;
    height: 50px;
    width: 100px;
}

.nav {
    display: flex;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding-left: 30px;
    padding-top: 35px;
}

.nav ul li {
    margin-right: 10px;
}

.title {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    margin-bottom: 30px;
}

.card {
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    max-width: 270px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

img {
    width: 250px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: larger;

}

p {
    color: #666;
    margin-bottom: 8px;
}

button{
    margin-top: 20px;
    padding: 7px;
    border-radius: 6px;
    background-color: rgb(226, 63, 63);
    color: white;
    font-size: medium;
    border-color: black;
}

button:hover{
    background-color: red;
}

.edit{
    margin-right: 150px;
}






