body {
    background-image: url('/images/bugatti-darken.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    position: relative;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
    color: red;
}

#logo-img {
    padding-top: 20px;
    padding-left: 20px;
    height: 50px;
    width: 100px;
}

.nav {
    display: flex;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding-left: 30px;
    padding-top: 35px;
}

.nav ul li {
    margin-right: 10px;
}

.login-div {
    border-radius: 10px;
    padding: 20px;
    height: 200px;
    width: 600px;
    background-color: rgba(36, 35, 32, 0.8);
    margin: 0 auto
}

.login-text {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;

}

.login-div label {
    color: white;
    font-weight: bold;
    font-size: large;
    margin-bottom: 20px;

}

.login-div .input_login {
    padding: 8px;
    width: 575px;
    border-radius: 5px;
    margin-top: 6px;
}

.input_login:first-of-type {
    margin-bottom: 15px;
}

.login-div .login_btn {
    margin-top: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(226, 63, 63);
    color: white;
    font-size: larger;
}

.login-div .login_btn:hover {
    background-color: red;
}

#email{
    margin-bottom: 10px;
}





