body {
    background-image: url('/images/bugatti-darken.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    position: relative;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
    color: red;
}

#logo-img {
    padding-top: 20px;
    padding-left: 20px;
    height: 50px;
    width: 100px;
}

.nav {
    display: flex;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding-left: 30px;
    padding-top: 35px;
}

.nav ul li {
    margin-right: 10px;
}

.welcome-msg {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.nav span {
    color: white;
}

.nav input {
    border: none;
    color: lightgray;
    background-color: transparent;
    font-size: medium;
    cursor: pointer;
}

.nav input:hover {
    color: red;
    text-decoration: underline;
}

.nav form {
    display: inline-block;
}

.nav .nav-item {
    margin-top: 2px;
}




