<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AutoBG</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>

<nav class="nav">
    <a href="/"><img id="logo-img" alt="car picture" src="/images/car.png"></a>
    <ul>
        <li><a href="/brands/all">All Brands</a></li>
        <li><a href="/offers/add">Add Offer</a></li>
        <li><a href="/offers/all">All Offers</a></li>
        <li><a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a></li>
        <li><a href="/users/logout">Logout</a></li>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/users/login">Login</a></li>
    </ul>
</nav>

<h3 class="login-text">Login</h3>

<div class="login-div">

    <form action="/users/login">
        <label>Username</label>
        <br>
        <input class="input_login" type="text" name="email" placeholder="Email">
        <br>
        <label>Password</label>
        <br>
        <input class="input_login" type="password" placeholder="Password">
        <br>
        <button class="login_btn">Submit Offer</button>
    </form>

</div>

<div>
    <footer></footer>
</div>

</body>
</html>
