<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>AutoBG</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<h3 class="login-text">Login</h3>

<div class="login-div">
    <form th:method="post"
          th:action="@{/users/login}">

        <label>Username</label>
        <br>
        <input class="input_login"
               id="email"
               type="email"
               th:value="${email}"
               name="email"
               placeholder="Email"/>
        <br>
        <label>Password</label>
        <br>
        <input class="input_login"
               type="password"
               name="password"
               placeholder="Password"/>
        <br>
        <button class="login_btn">Login</button>
    </form>

</div>

<div>
    <footer></footer>
</div>

</body>
</html>
