<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>AutoBG</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/register.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<h3 class="register-text">Register</h3>

<div class="register-div">

    <form th:method="post"
          th:action="@{/users/register}"
          th:object="${userModel}">

        <label>First Name</label>
        <input class="input_register"
               th:field="*{firstName}"
               th:errorclass="is-invalid"
               type="text"
               name="firstName"
               placeholder="First name">
        <br>
        <label>Last Name</label>
        <input class="input_register"
               th:field="*{lastName}"
               th:errorclass="is-invalid"
               type="text"
               name="lastName"
               placeholder="Last name">
        <br>
        <label>Username</label>
        <input class="input_register"
               th:field="*{email}"
               th:errorclass="is-invalid"
               type="email"
               name="email"
               placeholder="Email">
        <br>
        <label>Password</label>
        <input class="input_register"
               th:field="*{password}"
               th:errorclass="is-invalid"
               type="password"
               name="password"
               placeholder="Password">
        <br>
        <label>Confirm Password</label>
        <input class="input_register"
               type="password"
               name="confirmPassword"
               placeholder="Confirm password">

        <button class="register-btn">Register</button>
    </form>

</div>

<div>
    <footer></footer>
</div>

</body>
</html>
