<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AutoBG</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<h3 class="welcome-msg">
    Welcome to AutoBG,
    <!--  Refer the CurrentUser bean  -->
    <span th:if="${@currentUser.isLoggedIn()}"
          th:text="${@currentUser.getName()}">
    </span>

    <span th:if="${@currentUser.isAnonymous()}">
        Anonymous
    </span>
</h3>

<div>
    <footer></footer>
</div>

</body>
</html>
