<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AutoBG</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

<nav class="nav">
    <a href="/"><img id="logo-img" alt="car picture" src="/images/car.png"></a>
    <ul>
        <li><a href="/brands/all">All Brands</a></li>
        <li><a href="/offers/add">Add Offer</a></li>
        <li><a href="/offers/all">All Offers</a></li>
        <li><a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a></li>
        <li><a href="/users/logout">Logout</a></li>
        <li><a href="/users/register">Register</a></li>
        <li><a href="/users/login">Login</a></li>
    </ul>
</nav>

<h3 class="welcome-msg">
    Welcome to AutoBG,
    <!--  Refer the CurrentUser bean  -->
    <span th:if="${@currentUser.isLoggedIn()}"
          th:text="${@currentUser.getName()}">
    </span>

    <span th:if="${@currentUser.isAnonymous()}">
        Anonymous
    </span>
</h3>

<div>
    <footer></footer>
</div>

</body>
</html>
