<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>AutoBG</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/add-offer.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

<!-- TODO: Add client-side validations -->

<div th:replace="fragments/navbar">Navbar</div>

<h3 class="offer-add-text">Upload Offer</h3>

<div class="offer-add-div">

    <form th:method="post"
          th:action="@{/offers/add}">
        <!--          th:object="${offerModel}">-->

        <div class="wrapper">

            <div class="form-row">
                <div class="form-item space">
                    <label>Model</label><br>
                    <select class="select-offer-add" name="model">
                        <option value="model">Model</option>
                        <option value="model2">Model 2</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-item">
                    <label>Price</label><br>
                    <input class="input-offer-add" type="text" name="price" placeholder="Price">
                </div>
            </div>

            <br>

            <div class="form-row">
                <div class="form-item space">
                    <label>Engine</label>
                    <br>
                    <select class="select-offer-add" name="engine">
                        <option value="engine">Engine</option>
                        <option value="engine2">Engine 2</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-item">
                    <label>Transmission</label>
                    <br>
                    <select class="select-offer-add" name="transmission">
                        <option value="transmission">Transmission</option>
                        <option value="transmission2">Transmission 2</option>
                    </select>
                </div>
            </div>

            <br>

            <div class="form-row">
                <div class="form-item space">
                    <label>Year</label>
                    <br>
                    <input class="input-offer-add" type="text" name="year" placeholder="Year">
                </div>
            </div>

            <div class="form-row">
                <div class="form-item">
                    <label>Mileage</label>
                    <br>
                    <input class="input-offer-add" type="text" name="mileage" placeholder="Mileage">
                </div>
            </div>

            <label>Description</label>
            <br>
            <textarea name="description" rows="10" placeholder="Description"></textarea>

            <label>Image URL</label>
            <br>
            <input id="last-form-input" class="input-offer-add" type="text" name="imageURL"
                   placeholder="Put your vehicle here">

            <button class="offer-add-btn">Add Offer</button>
        </div>

    </form>

</div>

<div>
    <footer></footer>
</div>

</body>

</html>
